<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="JavaExePath" value="%JAVA_HOME%\bin\java.exe" />
    <add key="ClosureCompilerJarPath" value="" />
  </appSettings> 
</configuration>