<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="plovr" type="Plovr.Configuration.PlovrConfiguration, Plovr" />
	</configSections>

	<!-- 
		all of our options. i am trying to keep as close to the official plovr documentation as possible.
	-->
	<plovr>
		<!-- this settings node is for any global settings for the site itself. -->
		<settings
			closureCompilerJarPath="~/bin/compiler.jar"
			javaPath="%JAVA_HOME%\bin\java.exe"
			includePath="/plovr/compile?id=test-jquery"
		/>
		
		<!-- /plovr.axd supports getting passed an id in a querystring, if it isn't specified, use the default -->
		<projects defaultProjectName="test-calendar">
			<!-- your most basic example -->
			<add id="test-sayhi" basePath="~/js" namespaces="test.SayHi" mode="raw" />

			<!-- send it for advanced compilation -->
			<add id="test-tooltip" basePath="~/js" namespaces="test.ToolTip" mode="raw"
				 customParams='--warning_level=VERBOSE --jscomp_off=checkTypes'/>

			<!-- we can even encapsulate the output by using the customParams option -->
			<add id="test-calendar" basePath="~/js" namespaces="test.Calendar" mode="raw" 
				 customParams='--output_wrapper="(function(){%output%})();"  --warning_level=VERBOSE --jscomp_off=checkTypes' 
			/>

			<!-- we can even encapsulate jQuery and run it in advanced mode, pass in a custom reference even if you want -->
			<add id="test-jquery" basePath="~/js" namespaces="test.jQuery" mode="raw"
				 closureExternFiles="~/js/jquery-1.6.1-externs.js"
				 customParams='--output_wrapper="(function($){%output%})(jQuery);" --warning_level=VERBOSE --jscomp_off=checkTypes'
			/>
			<!-- this is turned on with verbose and makes a ton of warnings, some are insane - jscomp_off=checkTypes -->

			<!-- the plovr message system, built using closure -->
			<add id="plovr-MessageSystem" basePath="~/js" namespaces="plovr.MessageSystem" mode="raw"
				  customParams='--output_wrapper="(function(){%output%})();" --warning_level=VERBOSE --jscomp_off=checkTypes' />
		</projects>
	</plovr>

	<!-- 
		Below is standard for any .NET project when registering a new handler.
		system.web is for IIS6 and Casini, system.webServer is for IIS7.
	-->
	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.0" />
		<httpModules>
			<add name="PlovrHttpModule" type="Plovr.Modules.PlovrHttpModule, Plovr" />
		</httpModules>
	</system.web>
	
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<add name="PlovrHttpModule" type="Plovr.Modules.PlovrHttpModule, Plovr, Version=1.0.0.0, Culture=neutral" />
		</modules>
	</system.webServer>
</configuration>
