<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="plovr" type="Plovr.Configuration.PlovrConfiguration, Plovr" />
	</configSections>

	<!-- 
		all of our options. i am trying to keep as close to the official plovr documentation as possible.
	-->
	<plovr>
		<!-- this settings node is for any global settings for the site itself. -->
		<settings
			closureCompilerJarPath="~/bin/compiler.jar"
			soyToJsSrcCompilerJarPath="~/bin/SoyToJsSrcCompiler.jar"
			javaPath="java.exe"
			includePath="/plovr.net/compile?id=test-Soy&amp;mode=advanced"
		/>
		
		<!-- /plovr.axd supports getting passed an id in a querystring, if it isn't specified, use the default -->
		<projects defaultProjectName="test-calendar">
			<add path="~/../config/plovr-MessageSystem-config.js" />
<!--			<add path="~/../config/test-calendar-config.js" />-->
<!--			<add path="~/../config/test-jquery-config.js" />-->
<!--			<add path="~/../config/test-sayhi-config.js" />-->
<!--			<add path="~/../config/test-Soy-config.js" />-->
<!--			<add path="~/../config/test-tooltip-config.js" />-->
		</projects>
	</plovr>

	<!-- 
		Below is standard for any .NET project when registering a new handler.
		system.web is for IIS6 and Casini, system.webServer is for IIS7.
	-->
	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.0" />
		<httpModules>
			<add name="PlovrHttpModule" type="Plovr.Modules.PlovrHttpModule, Plovr" />
		</httpModules>
	</system.web>
	
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<add name="PlovrHttpModule" type="Plovr.Modules.PlovrHttpModule, Plovr, Version=1.0.0.0, Culture=neutral" />
		</modules>
	</system.webServer>
</configuration>
