/**
 * This is a Closure Template's soy file that houses all the HTML for the Site. All the major HTML snippets are
 * included in this file.
 */
{namespace test.SoyTemplate.Test2}

/**
 * Says hello to the world.
 */
{template .helloWorld}
<p>
	Hello world 2!
</p>
{/template}